<template>
  <main>
    <Graph :data='graphData' />
  </main>
</template>

<script lang='ts'>
import { defineComponent, computed } from '@vue/composition-api'
import { parse } from 'date-fns'
import { TimeSeries, Country, GraphPoint, GraphData } from '@/interfaces/api'
import Graph from '@/components/Graph.vue'

export default defineComponent({
  components: {
    Graph
  },
  props: {
    apiData: {
      type: Object as () => TimeSeries,
      required: true
    }
  },
  setup (props) {
    const graphData = computed(() => Object.values(props.apiData).reduce(
      (acc: GraphData, x: Country) => x.map((t, i) => [
        parse(t.date, 'yyyy-M-dd', new Date()),
        t.confirmed + (acc[i] ? acc[i][1] : 0)
      ] as GraphPoint), [] as GraphData
    ))

    return {
      graphData
    }
  }
})
</script>

<style lang='stylus'>
main
  flex 1
  display flex
  align-items stretch
</style>
