<template>
  <main id='home'>
    <div id='api-data'>
      <div id='confirmed'>
        <h1>{{ displayNumber(confirmed) }}</h1><h2>Confirmed</h2>
      </div>
      <div id='deaths'>
        <h1>{{ displayNumber(deaths) }}</h1><h2>Deaths</h2>
      </div>
      <div id='recovered' v-if='recovered'>
        <h1>{{ displayNumber(recovered) }}</h1><h2>Recovered</h2>
      </div>
      <h3 id='notice' v-else>Recovered cases are no longer being tracked - see the <a href='https://github.com/CSSEGISandData/COVID-19/issues/1250'>JHU repo</a> for details</h3>
    </div>
    <div id='participants'>
      <div class='participant' v-for='(participant, index) in participants' :key='index'>
        <span class='name'>{{ participant.name }}</span>
        <span class='wager'>{{ displayNumber(participant.wager.confirmed) }}</span>
        <span class='spread'>{{ diffConfirmed(participant) }}</span>
      </div>
    </div>
  </main>
</template>

<script lang='ts'>
import { defineComponent, ref, computed } from '@vue/composition-api'
import Participant from '@/interfaces/participant'
import { TimeSeries, Country } from '@/interfaces/api'

export default defineComponent({
  props: {
    apiData: {
      type: Object as () => TimeSeries,
      required: true
    }
  },
  setup (props) {
    const confirmed = computed(() => Object.values(props.apiData).reduce(
      (acc: number, x: Country) => acc + x.slice(-1)[0].confirmed, 0
    ))
    const deaths = computed(() => Object.values(props.apiData).reduce(
      (acc: number, x: Country) => acc + x.slice(-1)[0].deaths, 0
    ))
    const recovered = computed(() => Object.values(props.apiData).reduce(
      (acc: number, x: Country) => acc + x.slice(-1)[0].recovered, 0
    ))
    const locale = ref<string | string[]>({})
    const notation = ref<Intl.NumberFormatOptions>({})
    const participants = ref<Participant[]>([
      {
        name: 'Lil Mild Flu',
        wager: {
          confirmed: 183123
        }
      },
      {
        name: 'President Trout',
        wager: {
          confirmed: 220000
        }
      },
      {
        name: 'Keto Cleric',
        wager: {
          confirmed: 300000
        }
      },
      {
        name: 'Mordy Lillers',
        wager: {
          confirmed: 650000
        }
      },
      {
        name: 'Inordinate Coordinates',
        wager: {
          confirmed: 800000
        }
      }
    ])

    const displayNumber = (n: number): string => Intl.NumberFormat(
      locale.value,
      notation.value
    ).format(n)

    const diffConfirmed = (participant: Participant): string => {
      let diff = participant.wager.confirmed - confirmed.value
      let str = ''
      if (diff >= 0) {
        str += '+ '
      } else {
        str += '- '
        diff = -diff
      }
      return str + displayNumber(diff)
    }

    return {
      confirmed,
      deaths,
      recovered,
      locale,
      notation,
      participants,
      diffConfirmed,
      displayNumber
    }
  }
})
</script>

<style lang='stylus'>

main#home
  display flex
  flex-direction column
  flex 1
  padding 1em

#api-data
  display flex
  flex-direction column
  justify-content space-around
  #confirmed, #deaths, #recovered
    display flex
    flex-direction row
    justify-content flex-end
    align-items baseline
    *
      flex 1
    h1
      display flex
      justify-content flex-end
    h2
      min-width 5em
      margin-left 2em
  #notice
    flex 1
    text-align center

#participants
  margin 1em 0
  display flex
  flex 1
  flex-direction column
  align-items stretch
  justify-content space-around

.participant
  display flex
  flex-direction row
  justify-content flex-start

.name
  display flex
  justify-content flex-end
  flex 2

.wager
  flex 0
  margin 0 2em

.spread
  flex 2
  white-space nowrap

</style>
