<template>
  <main id='links'>
    <a href='https://covid19.colorado.gov/data'>
      Colorado Official DPHE Data
    </a>
    <a href='https://www.arcgis.com/apps/opsdashboard/index.html#/bda7594740fd40299423467b48e9ecf6'>
      Johns Hopkins Visual Dashboard (Desktop)
    </a>
    <a href='http://www.arcgis.com/apps/opsdashboard/index.html#/85320e2ea5424dfaaa75ae62e5c06e61'>
      Johns Hopkins Visual Dashboard (Mobile)
    </a>
  </main>
</template>

<style lang='stylus'>

main#links
  display flex
  flex-direction column
  flex 1
  padding 1em

</style>
