<template>
  <footer>
    <div>
      Data repository: <a href='https://github.com/CSSEGISandData/COVID-19'>
        JHU CSSE
      </a> via <a href='https://github.com/pomber/covid19'>
        pomber/covid19
      </a>
    </div>
    <div>
      Icons made by <a href='https://www.flaticon.com/authors/freepik' title='Freepik'>
        Freepik
      </a> from <a href='https://www.flaticon.com/' title='Flaticon'>
        www.flaticon.com
      </a>
    </div>
  </footer>
</template>

<style lang='stylus'>
@import '../assets/card.styl'
footer
  card(1)
  padding 0.5em 1em
  display flex
  flex-direction column
  justify-content center
  align-items center
  font-size 0.75em
  background-color #00a666
  color #ffffff

  div
    margin 0.25em 0
</style>
