<template>
  <svg ref='svg'>
    <g id='data-line'>
      <path id='line-path' />
    </g>
    <g id='bottom-axis'></g>
    <g id='left-axis'></g>
  </svg>
</template>

<script lang='ts'>
import * as d3 from 'd3'
import {
  defineComponent,
  PropType,
  onMounted,
  onBeforeUnmount,
  ref,
  watch
} from '@vue/composition-api'
import { GraphData } from '@/interfaces/api'

export default defineComponent({
  name: 'line-chart',
  props: {
    data: {
      type: Array as PropType<GraphData>,
      required: true
    }
  },
  setup (props) {
    const svg = ref({
      clientWidth: 0,
      clientHeight: 0
    })

    const margin = { left: 60, top: 20, right: 20, bottom: 60 }
    const width = (): number => svg.value.clientWidth ?? 0
    const height = (): number => svg.value.clientHeight ?? 0

    const getScales = () => {
      const x = d3.scaleTime()
        .range([0, width() - margin.left - margin.right])
        .domain(d3.extent(props.data, d => d[0]) as Date[])
      const y = d3.scaleLinear()
        .range([height() - margin.bottom, 0])
        .domain([0, 1.1 * (d3.max(props.data, d => d[1]) || 1)] as number[])
      return { x, y }
    }

    const drawAxes = () => {
      const scale = getScales()

      const xAxis = d3.axisBottom(scale.x)
      xAxis.ticks((width() - margin.left - margin.right) / 80)
        .tickSizeOuter(0)

      const yAxis = d3.axisLeft(scale.y)
      yAxis.tickSize(-(width() - margin.left - margin.right))

      d3.select('#bottom-axis')
        .attr('style', `transform: translate(${margin.left}px, ${height() - margin.bottom + margin.top}px)`)
        .call(xAxis as any)
      d3.select('#left-axis')
        .attr('style', `transform: translate(${margin.left}px, ${margin.top}px)`)
        .call(yAxis as any)
    }

    const drawLine = () => {
      const scale = getScales()
      const path = d3.line<[Date, number]>()
        .x(d => scale.x(d[0]))
        .y(d => scale.y(d[1]))
      d3.select('#line-path')
        .attr('style', `transform: translate(${margin.left}px, ${margin.top}px)`)
        .attr('d', path(props.data) as any)
    }

    const drawGraph = () => {
      drawAxes()
      drawLine()
    }

    watch(() => props.data, (newData: GraphData, oldData: GraphData) => drawGraph())

    onMounted(() => {
      window.addEventListener('resize', drawGraph)
      drawGraph()
    })

    onBeforeUnmount(() => {
      window.removeEventListener('resize', drawGraph)
    })

    return {
      svg,
      width,
      height,
      margin,
      drawGraph
    }
  }
})
</script>

<style lang='stylus'>
svg
  flex 1

#data-line path
  fill none
  stroke #00a666
  stroke-width 3px

#left-axis .tick
  &:not(:first-of-type) line
    stroke-opacity 0.5
    stroke-dasharray 2,2

</style>
