<template>
  <header>
    <img :src='`${publicPath}img/icons/virus-white.svg`' />
    <h1>Wagers: COVID-19</h1>
    <nav>
      <router-link to='/'>Home</router-link>
      <span> | </span>
      <router-link to='/graph'>Graph</router-link>
      <span> | </span>
      <router-link to='/links'>Links</router-link>
    </nav>
  </header>
</template>

<script lang='ts'>
export default {
  data () {
    return {
      publicPath: process.env.BASE_URL
    }
  }
}
</script>

<style lang='stylus'>
@import '../assets/card.styl'
header
  card(1)
  padding 0.5em 1em
  display flex
  flex-direction row
  justify-content flex-start
  align-items center
  background-color #00a666
  color #ffffff

  img
    max-height 2em
    max-width 2em

  h1
    flex 1
    font-size 1em
    margin 0 1em

  nav
    a
      color #fff
      &.router-link-exact-active
        color yellow
</style>
