/// From https://css-tricks.com/snippets/sass/material-shadows-mixin/
/// Converted to stylus with sass2stylus.com
/// Gives a card depth effect.
/// @param {Number} $depth - depth level (between 1 and 5)
/// @link http://www.google.com/design/spec/layout/layout-principles.html#layout-principles-dimensionality Google Design
/// @requires {function} top-shadow
/// @requires {function} bottom-shadow
card($depth)
  if $depth < 1
    box-shadow: none
  else
    box-shadow: bottom-shadow($depth), top-shadow($depth)
card-bottom($depth)
  if $depth < 1
    box-shadow: none
  else
    box-shadow: bottom-only-shadow($depth), 0 0 0 0
card-top($depth)
  if $depth < 1
    box-shadow: none
  else
    box-shadow: top-shadow($depth)
vertical-card($depth)
  if $depth < 1
    box-shadow: none
  else
    box-shadow: bottom-only-shadow($depth), top-only-shadow($depth)
horizontal-card($depth)
  if $depth < 1
    box-shadow: none
  else
    box-shadow: right-only-shadow($depth), left-only-shadow($depth)
/// Computes a top-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
top-shadow($depth)
  $alphas = 0.12 0.16 0.19 0.25 0.3
  $blurs = 1.5 3 10 14 19
  $offsets = 1.5 3 10 14 19
  $alpha = $alphas[$depth]
  $blur = $blurs[$depth] * 4px
  $primary-offset = $offsets[$depth] * 1px
  $color = rgba(black, $alpha)
  0 $primary-offset $blur $color
top-only-shadow($depth)
  $alphas = 0.12 0.16 0.19 0.25 0.3
  $blurs = 1.5 3 10 14 19
  $offsets = 1.5 3 10 14 19
  $alpha = $alphas[$depth]
  $blur = $blurs[$depth] * 4px
  $primary-offset = $offsets[$depth] * 1px
  $color = rgba(black, $alpha)
  0 $primary-offset $blur - $blur $color
/// Computes a bottom-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
bottom-shadow($depth)
  $alphas = 0.24 0.23 0.23 0.22 0.22
  $blurs = 1 3 3 5 6
  $offsets = 1.5 3 6 10 15
  $alpha = $alphas[$depth]
  $blur = $blurs[$depth] * 4px
  $primary-offset = $offsets[$depth] * 1px
  $color = rgba(black, $alpha)
  0 $primary-offset $blur $color
bottom-only-shadow($depth)
  $alphas = 0.24 0.23 0.23 0.22 0.22
  $blurs = 1 3 3 5 6
  $offsets = 1.5 3 6 10 15
  $alpha = $alphas[$depth]
  $blur = $blurs[$depth] * 4px
  $primary-offset = $offsets[$depth] * 1px
  $color = rgba(black, $alpha)
  0 $primary-offset $blur - $blur $color
/// Computes a left-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
left-shadow($depth)
  $alphas = 0.12 0.16 0.19 0.25 0.3
  $blurs = 1.5 3 10 14 19
  $offsets = 1.5 3 10 14 19
  $alpha = $alphas[$depth]
  $blur = $blurs[$depth] * 4px
  $primary-offset = $offsets[$depth] * 1px
  $color = rgba(black, $alpha)
  $primary-offset 0 $blur $color
left-only-shadow($depth)
  $alphas = 0.12 0.16 0.19 0.25 0.3
  $blurs = 1.5 3 10 14 19
  $offsets = 1.5 3 10 14 19
  $alpha = $alphas[$depth]
  $blur = $blurs[$depth] * 4px
  $primary-offset = $offsets[$depth] * 1px
  $color = rgba(black, $alpha)
  $primary-offset 0 $blur - $blur $color
/// Computes a right-shadow for a card effect.
/// @param {Number} $depth - depth level
/// @return {List}
right-shadow($depth)
  $alphas = 0.24 0.23 0.23 0.22 0.22
  $blurs = 1 3 3 5 6
  $offsets = 1.5 3 6 10 15
  $alpha = $alphas[$depth]
  $blur = $blurs[$depth] * 4px
  $primary-offset = $offsets[$depth] * 1px
  $color = rgba(black, $alpha)
  $primary-offset 0 $blur $color
right-only-shadow($depth)
  $alphas = 0.24 0.23 0.23 0.22 0.22
  $blurs = 1 3 3 5 6
  $offsets = 1.5 3 6 10 15
  $alpha = $alphas[$depth]
  $blur = $blurs[$depth] * 4px
  $primary-offset = $offsets[$depth] * 1px
  $color = rgba(black, $alpha)
  $primary-offset 0 $blur - $blur $color
