<template>
  <div id='app'>
    <Header />
    <router-view :apiData='apiData'/>
    <Footer />
  </div>
</template>

<script lang="ts">
import axios from 'axios'
import { defineComponent, ref, onMounted } from '@vue/composition-api'
import Header from '@/components/Header.vue'
import Footer from '@/components/Footer.vue'
import { TimeSeries } from '@/interfaces/api'

export default defineComponent({
  components: { Header, Footer },
  setup () {
    const apiData = ref<TimeSeries>({})
    onMounted(() => {
      axios.get('https://pomber.github.io/covid19/timeseries.json')
        .then(resource => {
          apiData.value = resource.data
        }).catch(err => {
          console.error(err)
        })
    })
    return {
      apiData
    }
  }
})
</script>

<style lang="stylus">
@media (prefers-color-scheme: dark)
  html
    background #333
    color #fff
  main a
    color #00a666
    &:visited
      color yellow

@media (prefers-color-scheme: light)
  html
    background #fff
    color #2c3e50

#app
  display flex
  flex-direction column
  height 100vh
  width 100%
  font-family Avenir, Helvetica, Arial, sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
</style>
